.container{
    width: 80%;
    margin: 0 auto;
}

.heading {
    padding-left: 10px;
    border-left: solid #15B371;
}
.landing-info {
    background: #15B371;
    padding: 4em 0;
}

.app-sections {
    padding: 4em 0;
}
.top-card{
    padding: 3em;
}
.card:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
    
}

.card:hover a{
    text-decoration: none
}