p {
    text-align: justify;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    /* color: green; */
    background: black;
    border-radius: 2px;
}

.navbar{
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
    z-index: 12;
}

/* .navbar > a > img {
    padding-right: 5px;
    padding-bottom: -25.4px;
    width: 90px;
} */

.navbar > a > b > h3 {
    margin-bottom: -2px;
    color: #0168BF;
}

.navbar > a {
    text-decoration: none;
}

li a { 
    color: inherit;
    display: block;
    margin-bottom: -1px;
    padding: 0.5rem 1rem;
}

li a:hover {
    color: #0168BF;
}

