html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.row {
  margin: 0;
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  height: 100%;
  padding-right: 0 !important;
}

.container-fluid .col-sm-12, .col-md-12 {
  height: 100%;
}

.container-fluid .col-sm-12, .col-md-12 .row {
  height: 100%;
}
.page-content{
  margin: auto;
  background: #15B371;
  padding: 6em 0;
}
.licence-data{
  background: #fff;
}
@media (min-width: 768px){
  main {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }

  aside {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}



@media (max-width: 576px){
  .page-content{
    margin: auto;
    background: #15B371;
    padding: 2.5em 0;
  }
} 
